body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul.catalog-list {
  margin: 0;
  padding: 0;
}

/* ---- Флексы  ---- */

footer {
  display: flex;
  align-items: center;
  padding-top: 34px;
  padding-bottom: 34px;
}

.footer-list {
  width: 150px;
  display: flex;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.list {
  display: flex;

  padding: 14px 6% 16px;
  margin: 0;
}

.header-list-item {
  width: 20%;
  font-weight: bold;
  color: #000000;
}

.advantage-item {
  display: flex;
}

.card-image {
  width: 800px;
  height: 256px;
}

.card-text-img {
  order: -1;
}

.card-second h2 {
  width: 151px;
}

.card-first h2,
.card-third h2,
.card-fourth h2 {
  width: 164px;
}

.card-fifth h2 {
  width: 110px;
}

.card-text {
  margin: 0 auto;
  margin-top: 21px;
}

.card-first p,
.card-third p {
  width: 285px;
}

.card-second p {
  width: 310px;
}

.card-fourth p,
.card-fifth p {
  width: 270px;
}

ul.feature-list,
ul.sorting-list {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.feature-list-item {
  width: 400px;
  text-align: center;
  padding-bottom: 82px;
}

.number-of-people {
  display: flex;
}

.number-of-adults,
.number-of-children {
  display: flex;
  margin: 0px;
  align-items: center;
}

.number-of-children {
  margin-left: 53px;
}

.number-of-children label {
  margin-right: 27px;
}

.number-of-adults input,
.number-of-children input,
.number-of-adults button,
.number-of-children button {
  width: 38px;
}

/* ---- Флексы  ---- */

.feature-list,
.card-list,
.list,
.sorting-list,
.direction-list,
.catalog-list,
.footer-list {
  list-style: none;
}

.header-list-item a {
  font-family: "PT Sans", sans-serif;
}

.direction-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.background-image {
  display: block;
  width: 1200px;
  height: 508px;

  background-image: url(../img/background-index.jpg);
  background-repeat: no-repeat;

  position: relative;
  z-index: -2;
  background-position: 0px -56px;
}

.background-image::after {
  content: "";
  display: block;

  width: 1200px;
  height: 57px;

  background-image: url(../img/background-bottom.png);
  background-repeat: no-repeat;

  position: absolute;
  z-index: 1;
  bottom: 0px;
}

.direction {
  margin-left: auto;
}

.direction-item:nth-child(1) {
  margin-right: 12px;
}

a.direction-link {
  display: block;
  line-height: 11px;
  width: 11px;
  height: 10px;
}

.direction-link svg path {
  fill: #cacaca;
}

.direction-link:hover svg path {
  fill: #231f20;
}

.direction-link:active svg path {
  fill: #81b3d2;
}

.list li:nth-child(1) {
  margin-right: 29px;
}

.list li:nth-child(3) {
  margin-left: auto;
  margin-right: 29px;
}

.list li:nth-child(3),
.list li:nth-child(4) {
  text-align: right;
}

.main-navigation {
  position: relative;
}

.main-header-logo {
  display: block;
  width: 138px;
  height: 70px;

  position: absolute;
  left: 531px;
  top: 0px;
}

.main-header-logo img {
  width: 138px;
  height: 70px;
}

.list a,
.name-item a {
  color: #000000;
}

.catalog-column-item:nth-child(1) {
  margin-right: 6px;
}

.catalog-column {
  display: flex;
}

.header-list-item a:hover,
.sorting-list-item a:hover,
.name-item a:hover {
  color: #81b3d2;
}

.header-list-item a:active,
.name-item a:active,
a.search-hotel-header:active {
  color: #cacaca;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.current-list-item a,
.current-list-item a:active,
.current-list-item a:hover,
.current-list-item a:focus {
  color: #766357;
}

.map {
  width: 1200px;
  height: 473px;

  background-image: url(../img/map.png);
  background-repeat: no-repeat;

  background-position: 0px -1px;
}

/*.background::before {
  content: "";
  display: block;
  background-image: url(../img/background.jpg);
  height: 773px;
}

.background::before {
  content: "";
  display: block;
  height: 57px;
  background-image: url(../img/background-bottom.png);
}   */

.description {
  padding-top: 60px;
  padding-bottom: 37px;
}

h2.description-caption {
  display: block;
  width: 445px;
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  color: #000000;

  margin: 0 auto;
}

.description-info {
  text-align: center;
  margin-top: 27px;
}

.card-list {
  display: flex;
  background-color: #eeeeee;

  margin: 0;
  padding: 47px 0px 59px;
}

.card-item {
  display: block;
  width: 400px;
  background: #81b3d2;
  text-align: center;
  line-height: 21px;
  color: #ffffff;

  margin: 0 auto;
}

.card-first {
  padding-top: 47px;
}

.card-second {
  padding-top: 46px;
}

.card-item h2 {
  margin: 0 auto;
  margin-bottom: 24px;

}

li.card-item {

}

li.card-item {
  background-color: #eeeeee;
  color: #333333;
}

li.card-item h2 {
  color: #000000;
}

b.card-number {
  font-weight: normal;
  margin: 0 auto;
}

.card-with-photo {
  color: #ffffff;
}

.card-header {
  font-weight: bold;
  font-size: 21px;
}

.feature-header {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  margin: 0 auto;
}

.feature-text {
  line-height: 21px;

  margin: 0 auto;
  margin-top: 24px;
}

.feature-list-item:nth-child(1) p {
  width: 260px;
}

.feature-list-item:nth-child(2) p,
.feature-list-item:nth-child(3) p {
  width: 290px;
}

.interest-ask {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;

  margin: 0;
  margin-bottom: 24px;
}

.search-hotel {
  padding-top: 50px;
  position: relative;
}

.search-hotel-text {
  display: block;
  width: 440px;
  line-height: 24px;
  text-align: center;

  margin: 0 auto;
  margin-bottom: 47px;
}

p.search-hotel-field {
  display: flex;
  margin: 0;
  position: relative;
  align-items: center;

}

.search-hotel-field:first-child {
  margin-bottom: 29px;
}

.search-hotel-field label {
  margin-right: auto;
}

a.search-hotel-header {
  display: block;
  width: 568px;
  padding: 30px 0px 31px;
  margin: 0 auto;

  text-align: center;
  font-weight: bold;
  font-size: 21px;
  color: #ffffff;
  background-color: #766357;
}

a.search-hotel-header:hover {
  background-color: #604e43;
}

a.search-hotel-header:active {
  background-color: #503e33;
}

.form-search {
  box-sizing: border-box;
  display: block;

  font-weight: bold;
  color: #000000;
  background-color: #ffffff;

  width: 568px;
  padding: 55px;
  position: absolute;
  left: 316px;
  top: 291px;
}

.input-search-decoration {
  box-sizing: border-box;
  width: 346px;
  min-height: 38px;

  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f2f2f2;

  border: 0;
  padding: 0;
}

.search-hotel-field input[type="text"] {
  padding: 8px 50px 8px 12px;
}

.number-of-people input {
  text-align: center;
}

.input-search-decoration :hover {
  background-color: #ebebeb;
}

.input-search-decoration :focus {
  background-color: #ffffff;
}

.button-step {


  color: #a9a9a9;
  width: 38px;
  height: 38px;

  background-color: #f2f2f2;
  padding: 0px;
}
/*
.number-of-adults .button-step-bottom {
  position: absolute;
  left: 112px;
}

.number-of-adults .button-step-top {
  position: absolute;
  left: 188.8px;
  top: 0px;
} */


.button-step:focus,
.button-step:hover {
  color: #000000;
}

.button-step:active {
  color: #81b3d2;
}

.calendar-button {
  padding: 0px;

  fill: #a9a9a9;
  background-color: transparent;

  position: absolute;
  top: 8px;
  left: 428px;
  z-index: 3;
}

.calendar-button:focus,
.calendar-button:hover {
  fill: #000000;
}

.calendar-button:active {
  fill: #81b3d2;
}

.number-of-adults label {
  margin-right: 41px;
}

.search-hotel-field:nth-child(2) {
  margin-bottom: 30px;
}

.search-button input {
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: inherit;

  width: 458px;
  border: 0px;
  padding: 16px 197px 16px 195px;

  background-color: #81b3d2;
  color: #ffffff;
}

p.search-button {
  margin: 0px;
  margin-top: 54px;
}

.hashtag {
  width: 400px;
  font-weight: bold;
  font-size: 21px;
  color: #000000;
  margin-left: 132px;
}

.footer-copyright {
  display: flex;
  box-sizing: border-box;
  width: 400px;
  margin-right: 101px;
  margin-left: auto;
  justify-content: flex-end;
  color: #000000;
  align-items: center;
}

.copyright-link {
  display: block;
  width: 115px;
  height: 41px;
  margin-left: 8px;
}

.copyright-link:hover path,
.copyright-link:focus path {
  fill: #81b3d2;
}

.copyright-link:active path {
  fill: #c1bfc0;
}

.footer-social {
  width: 400px;
  margin-left: 105px;
}

.filters {
  background-image: url(../img/filters-background.jpg);
  padding: 0;
  width: 1200px;
  padding-top: 27px;
  padding-bottom: 31px;
}

.filters-flex {
  display: flex;
  color: #ffffff;
}

.checkbox-field:nth-child(1) {
  margin-right: 115px;
}

.option-header {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;

  margin: 0;
  margin-bottom: 25px;
}

.checkbox-field {
  line-height: 21px;
  width: 140px;
}

.checkbox-field:nth-child(1) label {
  margin-left: 23px;
}

.checkbox-field:nth-child(2) label {
  margin-left: 25px;
}

.settings,
.catalog-item,
.checkbox-field-first {
  padding-left: 6%;
}

.cost-field {
  line-height: 21px;
  margin-left: auto;
  padding-right: 6%;
}

.settings {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
  padding-right: 6%;
}

.cost-field input:nth-child(1) {
  font-family: inherit;
  font-weight: bold;
}

.checkbox-filter {
  margin-bottom: 25px;
}

.checkbox-filter:nth-child(4) {
  margin-bottom: 0;
}

.range {
  display: flex;
}

.cost-field input[type="text"] {
  width: 40px;
}

input.show-button {
  line-height: 21px;
  color: #ffffff;
  background: transparent;
  text-align: center;
  font-weight: normal;

  padding: 6px 34px 5px 33px;
  margin-top: 50px;
  border: 2px solid #ffffff;

}

input.show-button:hover {
  border: 3px solid #ffffff;
  background: #ffffff;
  color: #000000;
}

.search-result {
  font-weight: bold;
  font-size: 21px;
  color: #000000;

  margin-right: 48px;
}

.sorting {
  display: flex;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
}

.sorting-header {
  color: #000000;
  margin: 0;
  margin-right: 40px;
}

.sorting-list-item {
  margin-right: 32px;
}

.sorting-item-pasive a {
  color: #d1d1d1;
  font-family: inherit;
  border-bottom: 1px dashed #81b3d2;
}

.list a:not(.sorting-list-item:last-child):active {
  color: #b2b2b2;
}

.sorting-item-current a {
  color: #81b3d2;
  opacity: 100%;
}

.catalog {
  line-height: 21px;
}

.catalog-item {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 25px;
  padding-bottom: 29px;
  padding-right: 6%;
}

.catalog-item-image {
  margin-top: 5px;
  width: 135px;
  height: 90px;
}

.name-item {
  font-weight: bold;
  color: #000000;
  font-size: 21px;
  line-height: 26px;

  margin: 0;
  margin-bottom: 7px;
}

.catalog-item-description {
  margin-left: 30px;
}

.price-and-londing {
  display: block;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;

  margin-bottom: 16px;
}
.button {
  font: inherit;
  font-weight: bold;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.search-button input,
.catalog-button {
  color: #ffffff;
}

.catalog-button {
  padding: 4px 17px 5px;
}

.search-button input,
.details-button {
    background: #81b3d2;
}

.search-button input:focus,
.search-button input:hover,
.details-button:focus,
.details-button:hover {
  background-color: #669ec0;
}

.search-button input:active,
.details-button:active {
  opacity: 0.7;
  background-color: #5496bd;
}

/*Социальные сети */

.footer-list-item {
  display: block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button {
  display: flex;
  width: 46px;
  height: 48px;
  justify-content: space-around;
  align-items: center;

}

.twiter-social,
.facebook-social {
  margin-right: 6px;
}

.footer-list-item:focus,
.footer-list-item:hover {
  background-color: #669ec0;
}

.footer-list-item:active {
  background-color: #5496bd;
}

.svg-social {
  fill: #ffffff;
}

a.social-button:focus path,
a.social-button:hover path,
.svg-social:focus path,
.svg-social:hover path {
  fill: #ffffff;
}

a.social-button:active path,
.svg-social:active path {
  fill: #88b6d1;
}

.booking-button {
  background-color: #766357;
}

.booking-button:focus,
.booking-button:hover {
  background-color: #604e43;
}

.booking-button:active {
  opacity: 0.7;
  background-color: #503e33;
}

.rating {
  margin-left: auto;
}

.rating-star{
  display: flex;
  margin-top: 5px;
}

.star-item {
  margin-right: 6px;
}

.star-item:first-child {
  margin-left: auto;
}

.star-item:last-child {
  margin-right: 0px;
}


.rating-number {
  color: #666666;
  margin-left: auto;
  background-color: #f2f2f2;
  padding: 3px 12px 4px 15px;
  margin-top: 40px;
}

.feature-list-item:nth-child(1) {
  padding-top: 60px;
}

.feature-list-item:nth-child(2) {
  padding-top: 61px;
}

.feature-list-item:nth-child(3) {
  padding-top: 56px;
}

.feature-list-item::before {
  content: "";
  display: block;
  margin: 0 auto;
}

.feature-list-item:nth-child(1)::before {
  width: 75px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 29px;
  background: url(../img/svg/icon-1.svg);
}

.feature-list-item:nth-child(2)::before {
  background: url(../img/svg/icon-3.svg);
  width: 74px;
  height: 70px;
  margin-bottom: 30px;
  margin-left: 158px;
  margin-right: auto;
  background-repeat: no-repeat;
}

.feature-list-item:nth-child(3)::before {
  background: url(../img/svg/icon-2.svg);
  width: 64px;
  height: 76px;
  margin-bottom: 29px;
}
