visually-hidden {
}

.header-list-item {
    font-family: 'PT Sans';
    font-size: 21px;
} 

.descrition-caption {
    font-family: 'PT Sans';
    font-size: 21px;
}

.description-info {
    font-family: 'PT Sans';
    font-size: 14px;
}



