body {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.header-list-item {
  margin-top: 22px;
  margin-bottom: 22px;
  margin-left: 73px;
  margin-right: 73px;
  font-weight: bold;
  color: #000000;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

/*.background::before {
  content: "";
  display: block;
  background-image: url(../img/background.jpg);
  width: 1200px;
  height: 773px;
}

.background::before {
  content: "";
  display: block;
  width: 1200px;
  height: 57px;
  background-image: url(../img/background-bottom.png);
}   */

.description-caption {
  font-weight: bold;
  font-size: 21px;
  color: #000000;
}

.card-item {
  line-height: 21px;
}

.card-with-photo {
  color: #ffffff;
}

.card-header {
  font-weight: bold;
  font-size: 21px;
}

.feature-header {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.feature-text {
  line-height: 21px;
}

.interest-button {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.search-hotel-text {
  line-height: 24px;
}

.search-hotel-header {
  font-weight: bold;
  font-size: 21px;
  color: #ffffff;
}

.form-search {
  font-weight: bold;
  color: #000000;
}

.search-button {
  font-weight: bold;
  font-size: 21px;
  color: #ffffff;
}

.hashtag {
  font-weight: bold;
  font-size: 21px;
  color: #000000;
}

.footer-copyright {
  color: #000000;
}

.filter {
  color: #ffffff;
}

.checkbox-field {
  line-height: 21px;
}

.cost-field {
  line-height: 21px;
}

.option-header {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.search-result {
  font-weight: bold;
  font-size: 21px;
  color: #000000;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
}

.sorting-header {
  color: #000000;
}

.sorting-list-item {
  color: #000000;
}

.sorting-item-current {
  color: #81b3d2;
  }

.catalog {
  line-height: 21px;
}

.name-item {
  font-weight: bold;
  color: #000000;
  font-size: 21px;
  line-height: 26px;
}

.catalog-button {
  color: #ffffff;
}

.rating-number {
  color: #666666;
}

.feature-list-item::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto;
  background: url(../img/svg/icon-1.svg);
}

.feature-list-item:nth-child(2)::before {
  background: url(../img/svg/icon-3.svg);
  width: 74px;
  height: 70px;
}

.feature-list-item:nth-child(3)::before {
  background: url(../img/svg/icon-2.svg);
  width: 64px;
  height: 76px;
}

/*.rating::before {
  content: "";
  display: block;
  width: 18px;
  height: 17px;
  background: url(../img/svg/star.svg);
}*/
